html {
    background-color: hsl(0deg 0% 94%);
}

header {
    height: 100px;
}

.boxHeader {
    margin: 30px 0 0 40px;
    width: -webkit-fill-available;
}
nav {
    display: inline-block;
    vertical-align: top;
    
}

.navigation, .login {
    display: inline-block;
}

.navigation li, .login li {
    display: inline;
    margin: 0 0 0 60px;
    vertical-align: top;
     
}


nav a:hover {
    filter: brightness(0);

}

nav a {
    text-decoration: none;
    color: hsl(0deg 1% 44% / 58%);
    text-shadow: 0 0 1px hsl(0deg 0% 41%);
    font-size: 17px;
}

.login {
    position: fixed;
    right: 5%;

}

#register {
    border: solid;
    border-color: hsl(0deg 1% 44% / 58%);
    border-width: 2px;
    border-radius: 13px;
    padding: 10px 17px;
}

#register:hover {
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 13px;
    padding: 10px 17px;
    filter: brightness(0);
    cursor: pointer;
}

/* Main CSS */

.text {
    font-family: 'Epilogue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#messageBox {
    width: 533px;
    display: inline-block;
    margin: auto 0;
    position: relative;
}

.text h1 {
    font-family: 'Epilogue', sans-serif;
    font-size: 80px;
    font-weight: bold;
    margin: 0 0 10% 0;

}

.text p {
    font-size: 17px;
    width: 380px;
    line-height: 1.35;
    margin: 0 0 50px 0;
    color: hsl(0deg 1% 44% / 58%);
    text-shadow: 0 0 1px hsl(0deg 0% 41%);
}

#mainImageBox {
    width: 30%;
    display: inline-block;
}

#mainImageBox img {
    width: 490px;
}

#learnMore {
    font-family: 'Epilogue', sans-serif;
    margin: 0 0 10% 0;
    border-radius: 12px;
    padding: 14px 25px;
    color: hsl(0, 0%, 98%);
    background: hsl(0, 0%, 8%);
    font-size: 15px;
    cursor: pointer;
}

#learnMore:active {
    background: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
}

.client {
    display: flex;
    align-items: center;
    position: absolute;
    top: 117%;
}

.clientMargin {
    margin: 0 40px 0 0;
}


.dropDown {
    display: block;
    position: fixed;
    background: #FFFFFF;
    padding: 20px 0 0 0;
    border-radius: 11px;

}

#dropFeatures {
    width: 150px;
    height: 125px;
    left: 115px;
    top: 7%;
}

#dropCompany {
    width: 100px;
    height: 92px;
    left: 321px;
    top: 7%;
}

.dropDown img {
    width: 14px;
    margin: 0 13px 0 0;
    vertical-align: middle;
}

.dropDown li{
    margin: 0 0 10px 20px;
    display: block;
}

.dropDown a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


@media screen and (min-width: 481px) {

#heroMobile {
    display: none;
}

}

@media screen and (max-width: 480px) {

html {
    background-color: #FFFFFF;
}

.menu {
    position: fixed;
}

.menu--ativo {
    right: 0;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.login {
    display: flex;
    flex-direction: column;
    right: unset;
    position: static;

}

#heroDesktop {
    display: none;
}

#heroMobile {
    display: block;
}

.text {
    flex-direction: column-reverse;
}

#mainImageBox img, #mainImageBox{
    width: 100%;
}

#messageBox {
    width: 100%;
}

.text h1 {
    font-size: 42px;
    text-align: center;
    margin: 10% 3% 5%;
}

.text p {
    letter-spacing: 1.5px;
    line-height: 1.5;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
}

#learnMore {
    display: block;
    margin: 0 auto;
}

.client {
    position: unset;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto 0;
}

#audiophile {
    width: 61px;
}

.clientMargin {
    margin: 0;
    width: 90px;
}


}